@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

body {
  background: hsla(178, 45%, 39%, 0.04);
}

.container {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
